{% extends "layout.html" %} {% block heading %} Bookpage for {{book_info[1]}} {%
endblock %} {% block body %}
<!-- Main -->
<section>
  <div class="container-sm p-5 m-5 bg-dark text-white">
    <div class="row">
      <div class="col-md-6">
        <div class="col-sm-12">
          <div class="col-md-12 col-sm-8 text">
            <h4><strong>Book Title: </strong> {{book_info[1]}}</h4>
            <p><strong>Author:</strong> {{book_info[0]}}</p>
            <p><strong>Date Published: </strong> {{book_info[2]}}</p>
            <p><strong>ISBN: </strong> {{book_info[3]}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="col-md-12 col-sm-4 emphasis">
          <h2><strong> {{book_info[4]}} </strong></h2>
          <p><small>Total Number of Ratings</small></p>
        </div>
        <div class="col-md-12 col-sm-4 emphasis">
          <h2><strong>{{book_info[5]}}</strong></h2>
          <p><small>Average Rating</small></p>
        </div>
      </div>
      <div class="col-md-2 text-right">
        <img
          src="{{book_info[6]}}"
          class="img-responsive mx-auto fit"
          alt="..."
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
