{% extends "layout.html" %} {% block heading %} Home {% endblock %} {% block
body %}

<!-- Banner -->
<section id="banner">
  <div class="inner">
    <h2>WELCOME {{session['username']}}</h2>
    <p class="container-sm mx-md-n8">
      I have been impressed with the urgency of doing. Knowing is not enough;
      <br />
      we must apply. Being willing is not enough; we must do. <br />
      - Leonardo da Vinci
    </p>
  </div>
  <hr />
</section>

<!-- One -->
<section id="one" class="wrapper special alt3">
  <div class="inner">
    <header class="major">
      <h2>About Me</h2>
      <p class="container-sm mx-md-n8">
        My name is Shuaib Reeyaz. I am an avid learner and problem solver. My
        passion is leveraging data to make optimized decisions.
      </p>
    </header>
  </div>
  <hr />
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">
  <section class="spotlight">
    <div class="content">
      <h2><a href="{{url_for('portfolio')}}">Portfolio</a></h2>
      <p class="container-sm mx-md-n8">
        I've most recently had the opportunity to work as an Enterprise Strategy
        and Risk Analyst at Scotiabank in Downtown Toronto.
      </p>
    </div>
    <hr />
  </section>

  <section>
    <div>
      <h2><a href="/thoughts">Thoughts</a></h2>
      <p class="container-sm mx-md-n8">
        Over the past year I've worked on becoming fluenct in French and Arabic.
      </p>
    </div>
    <hr />
  </section>

<section>
    <div>
      <p class="container-sm mx-md-n8">	
		<form class="form-inline d-flex md-form form-sm mt-0" action = "{{url_for('search')}}" method= "post">
				<i class="fas fa-search" aria-hidden="true"></i>
				<input class="form-control form-control-sm ml-3 w-75" type="text" name = "search" placeholder="Search for your own books"
				  aria-label="Search for your own books">
			  </form>
			  <!-- <ul class="ml-left">
					<li class="nav-item">
					  <a class="nav-link" href="/registration"><span class="fas fa-user"></span> Sign Up</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="/login"><span class="fas fa-sign-in-alt"></span> Login</a>
					</li>
				  </ul> -->
	  </p>
	  
    </div>
    <hr />
  </section> 

  <!-- <section class="spotlight">
    <div class="content">
      <h2><a href="gallery.html">Gallery</a></h2>
      <p>
        I've captured some of my most memorable moments from vacations in United
        Arab Emirates, India and United States.
      </p>
    </div>
  </section> -->
</section>

<!-- CTA -->
<!--
					<section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Appreciate your curiosity</h2>
								<p>Feel free to send me a message</p>
							</header>
							<ul class="actions vertical">
								<li><a href="#" class="button fit special">Home</a></li>
								<li><a href="message.html" class="button fit">Quick Message </a></li>
							</ul>
						</div>
                    </section>
-->
{% endblock %}
