{% extends "layout.html" %} {% block title %} Login {%endblock %} {% block body
%}

<div class="d-flex justify-content-center align-self-center">
  <div
    class="panel-body w-30 m-5 py-5 justify-content-center align-self-center"
  >
    <h3 class="panel-title py-2">
      {{msg}}
    </h3>
    {% from "_loginhelpers.html" import render_field %}

    <form role="form" action="/login" method="post">
      <div>
        {{render_field(form.username)}}
      </div>

      <div class="form-group">
        {{render_field(form.password)}}
      </div>
      <input
        type="submit"
        value="Register"
        class="btn btn-info btn-small span2"
      />
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong>{{error}}</p>
    {% endif %}
  </div>
</div>

{% endblock %}
