{% extends "layout.html" %} {% block title %} Login {%endblock %} {% block body
%}

<div class="d-flex justify-content-center align-self-center">

              <div class="panel-body w-30 m-5 py-5 justify-content-center align-self-center">
                    <h3 class="panel-title py-2">
                        {{error_message}}
                    </h3>
                    {% from "_formhelpers.html" import render_field %}

                <form role="form" action="/registration" method="post">
                  
                    <div class="font-weight-light">
                    {{render_field(form.username)}}
                  </div>
      
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                            {{render_field(form.password)}}
                      </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6">
                      <div class="form-group">
                            {{render_field(form.confirm)}}
                      </div>
                    </div>
                  </div>
                  <input
                  type="submit"
                  value="Register"
                  class="btn btn-info btn-small span2"
                />
                  </div>
                </form>
                {% if error %}
                <p class="error"><strong>Error:</strong>{{error}}</p>
            {% endif %}
              </div>
</div>

{% endblock %}
