{% extends "layout.html" %} {% block heading %} Book Search {% endblock %} {%
block body %}
<!-- Main -->
<section>
  <h2>You searched for {{search}}:</h2>

  <div class="table-wrapper">
    <table class="table">
      <thead>
        <tr>
          <th>Author</th>
          <th>Book Title</th>
          <th>Date Published</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for row in results %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>
            <form action="{{url_for('bookpage')}}" method="post">
              <!-- <input
                class="btn btn-info"
                type="submit"
                name="info"
                value="More info7"
                aria-label="More Info"
              /> -->
              <button name="info" value="{{row[3]}}" class="btn btn-info">
                More Info
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>
{% endblock %}
