%message {
  border: 1px solid black;
  padding: 20px;
  margin: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.red {
  @extend %message;
  background-color: red;
}

.warning {
  @extend %message;
  background-color: yellow;
}
